/* -- css for adeleatchison.co.uk coded by Adele Atchison (deliinthesky) -- */
/* -- Variables ----------------------------------------------------------- */
/* -- Gradients ----------------------------------------------------------- */
/* -- Peach Base ---------------------------------------------------------- */
/* -- Pink Base ---------------------------------------------------------- */
/* -- Purple Base -------------------------------------------------------- */
/* -- Blue Base ---------------------------------------------------------- */
/* -- Green Base --------------------------------------------------------- */
/* -- Defaults  ---------------------------------------------------------- */
body {
  color: #212930;
  box-sizing: border-box !important;
  font-family: 'Lato', sans-serif;
}

#containerouter {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fdfdfd;
  overflow: hidden; }

#gallery {
  margin-top: 30px;
  clear: both;
  display: table;
  height: 500px;
  width: 100%; }
  #gallery h1, #gallery h2, #gallery h5 {
    font-family: 'Berkshire Swash';
    color: #f4805a; }
  #gallery h4 {
    font-size: 2.5rem;
    font-family: 'Berkshire Swash', cursive;
    color: #f4805a;
    letter-spacing: 0.5px; }

/* -- Mobile First ------------------------------------------------------ */
#sidebar {
  top: 0;
  left: -600px;
  width: 100%;
  height: 100%;
  background-color: #fdfdfd;
  float: left;
  position: fixed;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
  padding-top: 50px;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
  -webkit-box-shadow: 2px 0px 8px 1px #cecdcc;
  -moz-box-shadow: 2px 0px 8px 1px #cecdcc;
  box-shadow: 2px 0px 8px 1px #cecdcc; }
  #sidebar li {
    list-style: none;
    font-size: 1.2em;
    width: 95%; }
    #sidebar li a {
      text-decoration: none;
      color: #212930;
      width: 90%;
      display: block;
      padding: 1em; }
    #sidebar li a:hover {
      -webkit-box-shadow: 0px 2px 6px 0px #cecdcc;
      -moz-box-shadow: 0px 2px 6px 0px #cecdcc;
      box-shadow: 0px 2px 6px 0px #cecdcc; }
  #sidebar .footer {
    background-color: #fdfdfd;
    bottom: 10px;
    position: absolute;
    height: auto;
    width: 100%;
    margin: 0 auto;
    left: -0.9%;
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end; }
    #sidebar .footer a {
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease; }
  #sidebar #myicon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f4805a;
    margin: 0 auto;
    display: none;
    background-image: url(../images/images/Illustration/profile.png);
    background-size: cover;
    background-position: center;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box; }

#menu-menu-1 {
  padding: 0 !important; }

#containerouter[data-page="default"] #myicon {
  border-color: #f4805a; }

#containerouter[data-page="design"] #myicon {
  border-color: #f05b71; }

#containerouter[data-page="illustration"] #myicon {
  border-color: #8b80bc; }

#containerouter[data-page="photography"] #myicon {
  border-color: #4e8cca; }

#containerouter[data-page="blog"] #myicon {
  border-color: #78c372; }

#gallery input {
  width: 100%; }
#gallery .header h5 {
  font-size: 1.4em; }
  #gallery .header h5 a {
    text-decoration: none;
    color: #f4805a; }
  #gallery .header h5 a:hover {
    color: #f05b71; }

.about {
  padding-left: 2%;
  padding-right: 2%; }
  .about a {
    text-decoration: none;
    color: #f4805a; }
  .about a:hover {
    color: #f05b71; }

#containerouter[data-page="default"] #sidebar {
  border-style: solid;
  border-width: 0px 4px 0px 0px;
  border-right-color: #f4805a; }
  #containerouter[data-page="default"] #sidebar a[data-page='default']:hover {
    background-color: #f4805a;
    color: #fdfdfd; }
  #containerouter[data-page="default"] #sidebar a[data-page='design']:hover {
    background: #f4805a;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f4805a 0%, #f05b71 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f4805a), color-stop(90%, #f05b71));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f4805a 0%, #f05b71 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f4805a 0%, #f05b71 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f4805a 0%, #f05b71 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f4805a 0%, #f05b71 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="default"] #sidebar a[data-page='illustration']:hover {
    background: #f4805a;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f4805a 0%, #8b80bc 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f4805a), color-stop(90%, #8b80bc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f4805a 0%, #8b80bc 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f4805a 0%, #8b80bc 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f4805a 0%, #8b80bc 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f4805a 0%, #8b80bc 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="default"] #sidebar a[data-page='photography']:hover {
    background: #f4805a;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f4805a 0%, #4e8cca 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f4805a), color-stop(90%, #4e8cca));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f4805a 0%, #4e8cca 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f4805a 0%, #4e8cca 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f4805a 0%, #4e8cca 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f4805a 0%, #4e8cca 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="default"] #sidebar a[data-page='blog']:hover {
    background: #f4805a;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f4805a 0%, #78c372 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f4805a), color-stop(198, #78c372));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f4805a 0%, #78c372 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f4805a 0%, #78c372 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f4805a 0%, #78c372 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f4805a 0%, #78c372 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
#containerouter[data-page="default"] .footer a {
  color: #f4805a; }
#containerouter[data-page="default"] .footer a:hover {
  color: #f05b71;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }
#containerouter[data-page="default"] .footer a:active {
  color: #ce5335; }

.cookie a {
  color: #f4805a;
text-decoration: none;}
.cookie a:hover {
  color: #f05b71;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }
.cookie a:active {
  color: #ce5335; }

#containerouter[data-page="design"] #sidebar {
  border-style: solid;
  border-width: 0px 4px 0px 0px;
  border-right-color: #f05b71; }
  #containerouter[data-page="design"] #sidebar a[data-page='default']:hover {
    background: #f05b71;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f05b71 0%, #f4805a 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f05b71), color-stop(90%, #f4805a));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f05b71 0%, #f4805a 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f05b71 0%, #f4805a 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f05b71 0%, #f4805a 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f05b71 0%, #f4805a 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="design"] #sidebar a[data-page='design']:hover {
    background-color: #f05b71;
    color: #fdfdfd; }
  #containerouter[data-page="design"] #sidebar a[data-page='illustration']:hover {
    background: #f05b71;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f05b71 0%, #8b80bc 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f05b71), color-stop(90%, #8b80bc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f05b71 0%, #8b80bc 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f05b71 0%, #8b80bc 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f05b71 0%, #8b80bc 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f05b71 0%, #8b80bc 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="design"] #sidebar a[data-page='photography']:hover {
    background: #f05b71;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f05b71 0%, #4e8cca 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f05b71), color-stop(90%, #4e8cca));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f05b71 0%, #4e8cca 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f05b71 0%, #4e8cca 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f05b71 0%, #4e8cca 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f05b71 0%, #4e8cca 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="design"] #sidebar a[data-page='blog']:hover {
    background: #f05b71;
    /* Old browsers */
    background: -moz-linear-gradient(right, #f05b71 0%, #78c372 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f05b71), color-stop(90%, #78c372));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #f05b71 0%, #78c372 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #f05b71 0%, #78c372 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #f05b71 0%, #78c372 90%);
    /* IE10+ */
    background: linear-gradient(to left, #f05b71 0%, #78c372 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
#containerouter[data-page="design"] .footer a {
  color: #f05b71; }
#containerouter[data-page="design"] .footer a:hover {
  color: #f4805a;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }

#containerouter[data-page="illustration"] #sidebar {
  border-style: solid;
  border-width: 0px 4px 0px 0px;
  border-right-color: #8b80bc; }
  #containerouter[data-page="illustration"] #sidebar a[data-page='default']:hover {
    background: #8b80bc;
    /* Old browsers */
    background: -moz-linear-gradient(right, #8b80bc 0%, #f4805a 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #8b80bc), color-stop(90%, #f4805a));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #8b80bc 0%, #f4805a 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #8b80bc 0%, #f4805a 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #8b80bc 0%, #f4805a 90%);
    /* IE10+ */
    background: linear-gradient(to left, #8b80bc 0%, #f4805a 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="illustration"] #sidebar a[data-page='design']:hover {
    background: #8b80bc;
    /* Old browsers */
    background: -moz-linear-gradient(right, #8b80bc 0%, #f05b71 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f05b71), color-stop(90%, #8b80bc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #8b80bc 0%, #f05b71 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #8b80bc 0%, #f05b71 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #8b80bc 0%, #f05b71 90%);
    /* IE10+ */
    background: linear-gradient(to left, #8b80bc 0%, #f05b71 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="illustration"] #sidebar a[data-page='illustration']:hover {
    background-color: #8b80bc;
    color: #fdfdfd; }
  #containerouter[data-page="illustration"] #sidebar a[data-page='photography']:hover {
    background: #8b80bc;
    /* Old browsers */
    background: -moz-linear-gradient(right, #8b80bc 0%, #4e8cca 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #8b80bc), color-stop(90%, #4e8cca));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #8b80bc 0%, #4e8cca 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #8b80bc 0%, #4e8cca 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #8b80bc 0%, #4e8cca 90%);
    /* IE10+ */
    background: linear-gradient(to left, #8b80bc 0%, #4e8cca 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="illustration"] #sidebar a[data-page='blog']:hover {
    background: #8b80bc;
    /* Old browsers */
    background: -moz-linear-gradient(right, #8b80bc 0%, #78c372 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #8b80bc), color-stop(90%, #78c372));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #8b80bc 0%, #78c372 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #8b80bc 0%, #78c372 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #8b80bc 0%, #78c372 90%);
    /* IE10+ */
    background: linear-gradient(to left, #8b80bc 0%, #78c372 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
#containerouter[data-page="illustration"] .footer a {
  color: #8b80bc; }
#containerouter[data-page="illustration"] .footer a:hover {
  color: #f4805a;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }

#containerouter[data-page="photography"] #sidebar {
  border-style: solid;
  border-width: 0px 4px 0px 0px;
  border-right-color: #4e8cca; }
  #containerouter[data-page="photography"] #sidebar a[data-page='default']:hover {
    background: #4e8cca;
    /* Old browsers */
    background: -moz-linear-gradient(right, #4e8cca 0%, #f4805a 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #4e8cca), color-stop(90%, #f4805a));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #4e8cca 0%, #f4805a 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #4e8cca 0%, #f4805a 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #4e8cca 0%, #f4805a 90%);
    /* IE10+ */
    background: linear-gradient(to left, #4e8cca 0%, #f4805a 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="photography"] #sidebar a[data-page='design']:hover {
    background: #4e8cca;
    /* Old browsers */
    background: -moz-linear-gradient(right, #4e8cca 0%, #f05b71 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #f05b71), color-stop(90%, #4e8cca));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #4e8cca 0%, #f05b71 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #4e8cca 0%, #f05b71 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #4e8cca 0%, #f05b71 90%);
    /* IE10+ */
    background: linear-gradient(to left, #4e8cca 0%, #f05b71 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="photography"] #sidebar a[data-page='illustration']:hover {
    background: #4e8cca;
    /* Old browsers */
    background: -moz-linear-gradient(right, #4e8cca 0%, #8b80bc 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #4e8cca), color-stop(90%, #8b80bc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #4e8cca 0%, #8b80bc 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #4e8cca 0%, #8b80bc 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #4e8cca 0%, #8b80bc 90%);
    /* IE10+ */
    background: linear-gradient(to left, #4e8cca 0%, #8b80bc 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
  #containerouter[data-page="photography"] #sidebar a[data-page='photography']:hover {
    background-color: #4e8cca;
    color: #fdfdfd; }
  #containerouter[data-page="photography"] #sidebar a[data-page='blog']:hover {
    background: #4e8cca;
    /* Old browsers */
    background: -moz-linear-gradient(right, #4e8cca 0%, #78c372 90%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, right, left, color-stop(0%, #4e8cca), color-stop(90%, #78c372));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, #4e8cca 0%, #78c372 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, #4e8cca 0%, #78c372 90%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, #4e8cca 0%, #78c372 90%);
    /* IE10+ */
    background: linear-gradient(to left, #4e8cca 0%, #78c372 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    color: #fdfdfd; }
#containerouter[data-page="photography"] .footer a {
  color: #4e8cca; }
#containerouter[data-page="photography"] .footer a:hover {
  color: #f4805a;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease; }

label {
  position: fixed;
  background-color: transparent;
  margin: 0;
  width: auto;
  z-index: 20;
  transition: all 0.1s ease-in-out;
  margin-left: 2.5px;
  margin-top: 1.5px;
  padding: 5px 5px 3px 5px;
  background-color: rgba(253, 253, 253, 0.9);
  border-radius: 5px; }

label:hover {
  cursor: pointer; }

input[type=checkbox] {
  display: none; }

input:checked ~ .containerinner {
  left: 600px;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

input:checked ~ label {
  left: 0;
  transform: rotate(360deg);
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; }

input:checked ~ #sidebar {
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease; }

#containerouter[data-page="default"] label {
  color: #f4805a; }
#containerouter[data-page="default"] input:checked ~ label {
  color: #f05b71; }

#containerouter[data-page="design"] label {
  color: #f05b71; }
#containerouter[data-page="design"] input:checked ~ label {
  color: #f4805a; }

#containerouter[data-page="illustration"] label {
  color: #8b80bc; }
#containerouter[data-page="illustration"] input:checked ~ label {
  color: #f4805a; }

#containerouter[data-page="photography"] label {
  color: #4e8cca; }
#containerouter[data-page="photography"] input:checked ~ label {
  color: #f4805a; }

/* -- Desktop ----------------------------------------------------------- */
@media (min-width: 600px) {
  #sidebar {
    height: 100%;
    min-width: 160px;
    width: 20%;
    max-width: 200px;
    float: left;
    position: fixed;
    padding-top: 50px;
    box-sizing: border-box; }
    #sidebar li {
      list-style: none;
      font-size: 1.2em; }

  #gallery h4 {
    font-size: 2.2rem; }
  #gallery .header h5 {
    font-size: 1.75em; }

  input:checked ~ label {
    left: 0;
    box-sizing: border-box; }

  input:checked ~ .containerinner {
    left: 200px;
    overflow: hidden; } }
@media (max-height: 626px) and (max-width: 750px) {
  #sidebar #myicon {
    display: none; } }
@media (min-height: 627px) and (min-width: 750px) {
  #sidebar #myicon {
    display: block;
    margin-bottom: 10px; } }
@media (min-width: 750px) {
  label {
    display: none; }

  #sidebar {
    left: 0;
    padding-top: 20px; }

  #gallery h4 {
    font-size: 2.4rem; } }
@media (min-width: 850px) {
  #gallery h4 {
    font-size: 2.5rem; } }
@media (min-width: 2000px) {
  #sidebar a {
    text-decoration: none;
    color: #212930;
    width: 95%;
    display: block;
    padding: 1em; }
  #sidebar .footer a {
    padding: 0.5em; } }
/* -- Gallery ----------------------------------------------------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.fullsize {
  width: 100%;
  margin-left: 2%; }

#gallery i {
  color: #f4805a; }
#gallery input {
  width: 100%; }
#gallery textarea {
  width: 100%; }
#gallery input[type="submit"] {
  width: 100%;
  background-color: #f4805a;
  color: #fdfdfd;
  border: none;
  transition: all ease-in-out 0.05s; }
#gallery input[type="submit"]:hover {
  background-color: #f05b71;
  transition: all ease-in-out 0.05s; }
#gallery input[type="submit"]:active {
  background-color: #ce5335; }
#gallery form p {
  margin-bottom: 1.1rem; }

.fullsize:firstchild {
  margin-left: 0; }

.halfsize {
  width: 48%;
  width: 100%;
  float: left;
  box-sizing: border-box; }

.halfsize:firstchild {
  margin-left: 0; }

.thumbnail {
  width: 100%;
  height: 100%;
  display: block; }

.imageholder {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  display: block;
  margin: 1%;
  z-index: 1;
  overflow: hidden;
  cursor: pointer; }

.imageholder::after {
  padding-bottom: 30%; }

.imageholder {
  max-height: 525px;
  min-height: 190px;
  /*height:auto;*/
  box-sizing: border-box;
  border: none !important;
  background-size: cover;
  background-position: center;
  display: block;
  margin: 0 auto;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  margin-right: 1%;
  position: relative;
  align-content: center;
  vertical-align: middle;
  text-align: center; }

.holdercontent {
  position: absolute;
  z-index: 20;
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 3px;
  min-height: 7.5px;
  height: 55px;
  max-height: 90px;
  min-width: 80px;
  color: #fdfdfd;
  max-width: 90%;
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 2% 0% 2% 0%;
  box-sizing: border-box;
  left: 15%;
  right: 15%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20%;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  transform: translateZ(0);
  transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

@media (min-width: 375px) {
  .holdercontent {
    margin-top: 17.5%; } }
@media (min-width: 500px) {
  .holdercontent {
    margin-top: 15%; }

  .navigationbuttons {
    margin-top: 30%; }

  #gallery input {
    width: 80%; }
  #gallery textarea {
    width: 80%; }
  #gallery input[type="submit"] {
    width: 40%;
    background-color: #f4805a;
    color: #fdfdfd;
    margin-left: 18% !important; } }
@media (min-width: 550px) {
  .holdercontent {
    margin-top: 30%; } }
@media (min-width: 769px) {
  .holdercontent {
    opacity: 0; }

  .holdercontent:hover, .imageholder:hover .holdercontent {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    cursor: pointer; } }
@media (min-width: 700px) {
  .holdercontent {
    margin-top: 40%;
    padding: 2% 0% 2% 0%;
    min-height: 50px;
    line-height: 32px;
    min-width: 150px; }

  .one-third .holdercontent {
    min-width: 0px;
    height: auto; }

  .one-third .thumbnail {
    height: 205px;
    width: 100%; }

  .one-half .thumbnail {
    height: 310px;
    width: 100%; }

  .one-half.imageholder {
    min-height: 310px; }

  .one-third.imageholder {
    min-height: 205px; } }
@media (min-width: 767px) {
  .holdercontent {
    margin-top: 40%;
    padding: 2% 0% 2% 0%;
    min-height: 50px;
    line-height: 32px;
    min-width: 150px; }

  .one-third .holdercontent {
    min-width: 0px;
    height: auto; }

  .one-third .thumbnail {
    height: 190px;
    width: 100%; }

  .one-half .thumbnail {
    height: 280px;
    width: 100%; }

  .one-half.imageholder {
    min-height: 270px; }

  .one-third.imageholder {
    min-height: 190px; } }
@media (min-width: 860px) {
  .holdercontent {
    margin-top: 35%; } }
@media (min-width: 960px) {
  #gallery .header h5 {
    font-size: 1.75em; }

  .holdercontent {
    position: absolute;
    z-index: 10;
    min-height: 60px;
    height: auto;
    min-width: 100px;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    left: 15%;
    right: 15%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 27.5%;
    line-height: 55px; }

  .one-third .holdercontent {
    margin-top: 30%; }
  .one-third .thumbnail {
    height: 225px; }

  .one-half .holdercontent {
    margin-top: 38%; }
  .one-half .thumbnail {
    height: 345px; }

  .one-third.imageholder {
    height: 225px; }

  .one-half.imageholder {
    height: 345px; } }
@media (min-width: 1024px) {
  .one-third .holdercontent {
    margin-top: 30%; }
  .one-third .thumbnail {
    height: 245px; }

  .one-half .holdercontent {
    margin-top: 38%; }
  .one-half .thumbnail {
    height: 370px; }

  .one-third.imageholder {
    height: 245px; }

  .one-half.imageholder {
    height: 370px; } }
@media (min-width: 1200px) {
  .one-third .holdercontent {
    margin-top: 30%; }
  .one-third .thumbnail {
    height: 305px; }

  .one-half .holdercontent {
    margin-top: 38%; }
  .one-half .thumbnail {
    height: 460px; }

  .one-third.imageholder {
    height: 305px; }

  .one-half.imageholder {
    height: 460px; } }
@media (min-width: 1439px) {
  .one-third .holdercontent {
    margin-top: 30%; }
  .one-third .thumbnail {
    height: 375px; }

  .one-half .holdercontent {
    margin-top: 38%; }
  .one-half .thumbnail {
    height: 565px; }

  .one-third.imageholder {
    height: 375px; }

  .one-half.imageholder {
    height: 565px; } }
.holdercontent:hover + img, .thumbnail:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  filter: blur(3px) grayscale(0.8) brightness(80%);
  -o-filter: greyscale(0.8) brightness(80%) blur(3px);
  -ms-filter: greyscale(0.8) brightness(80%) blur(3px);
  -moz-filter: greyscale(0.8) brightness(80%) blur(3px);
  -webkit-filter: blur(3px) greyscale(0.8) brightness(80%); }

#containerouter[data-page="default"] .holdercontent {
  background-color: rgba(24, 12, 9, 0.5); }

#containerouter[data-page="design"] .holdercontent {
  background-color: rgba(24, 9, 11, 0.5); }

#containerouter[data-page="illustration"] .holdercontent {
  background-color: rgba(27, 25, 37, 0.5); }

#containerouter[data-page="photography"] .holdercontent {
  background-color: rgba(15, 28, 40, 0.5); }

.imageholder:hover > .holdercontent {
  opacity: 1; }

.workinfo {
  font-size: 1.4em;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
  max-width: 1440px;
  max-height: 450px;
  z-index: inherit;
  overflow: hidden;
  color: white;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: groove;
  border-width: thin;
  padding-bottom: 1.5%; }

#work_title {
  font-size: 1.3em;
  width: auto;
  max-width: 450px;
  max-height: 200px;
  z-index: inherit;
  vertical-align: middle;
  color: white;
  box-sizing: border-box;
  overflow: hidden; }

#datebox {
  font-size: 1.3em;
  width: auto;
  max-width: 350px;
  min-width: 100px;
  z-index: inherit;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
  text-align: right;
  top: 5%; }

@media (min-width: 1440px) {
  #sidebar {
    font-size: 1.45em; }

  #work_title {
    font-size: 1.6em; }

  #datebot {
    font-size: 1.6em; }

  .holdercontent {
    font-size: 1.5em; }

  .workinfo {
    margin-top: 15px; } }
#description {
  width: 90%;
  max-width: 1440px;
  max-height: 850px;
  height: auto;
  z-index: inherit;
  box-sizing: border-box;
  align-content: center;
  font-size: 1.2em;
  margin: 0 auto;
  color: white;
  display: block;
  padding-bottom: 6%;
  margin-top: 2.5%;
  overflow: hidden; }

#imgpage {
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  background-color: rgba(0, 0, 0, 0.9) !important;
  overflow: auto;
  z-index: 100;
  position: fixed;
  top: 0px;
  float: right;
  padding-bottom: 5%;
  display: none;
  opacity: 0;
  justify-content: flex-end;
  flex-direction: column; }

#full_image {
  align-content: center;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 1185px;
  max-height: 960px;
  width: 90%;
  min-width: 100%;
  height: 55% !important;
  z-index: inherit;
  overflow: hidden;
  opacity: 1;
  background-size: contain;
  margin-top: 3%;
  background-repeat: no-repeat;
  background-position: center; }

@media (min-width: 600px) {
  #full_image {
    min-width: 90%;
    width: 90% !important;
    height: 65% !important; } }
@media (min-width: 1024px) {
  #full_image {
    min-width: 90%;
    width: 85% !important;
    height: 90% !important; } }
@media (min-width: 1600px) {
  #full_image {
    width: 1440px !important; } }
#close {
  position: fixed;
  right: 0;
  width: 30px;
  height: 30px;
  color: darkgray;
  background-color: transparent;
  z-index: 1000;
  cursor: pointer;
  align-content: center;
  vertical-align: middle;
  text-align: center;
  margin-right: 30px;
  margin-top: 10px;
  box-sizing: border-box; }

#description a {
  color: #f4805a;
  font-weight: 400;
  text-decoration: underline; }

#description a:hover {
  color: #f05b71; }

#description a:active {
  color: #ce5335; }

.navigationbuttons {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1000;
  position: absolute;
  margin-top: 50%;
  font-size: 0.7em; }

@media (min-width: 375px) {
  .navigationbuttons {
    margin-top: 45%; } }
@media (min-width: 425px) {
  .navigationbuttons {
    margin-top: 40%; } }
@media (min-width: 500px) {
  .navigationbuttons {
    margin-top: 35%; } }
@media (min-width: 550px) {
  #full_image {
    margin-top: 40px; } }
@media (min-width: 600px) {
  .navigationbuttons {
    margin-top: 30%; } }
@media (min-width: 800px) {
  .navigationbuttons {
    width: 90%;
    margin-left: 5%;
    margin-top: 25%; } }
@media (min-width: 1024px) {
  .navigationbuttons {
    width: 100%;
    margin-top: 32.5%;
    margin-left: 0; } }
@media (min-width: 1440px) {
  .navigationbuttons {
    width: 100%;
    margin-top: 32.5%;
    margin-left: 0;
    padding: 10px;
    box-sizing: border-box; } }
@media (min-width: 2000px) {
  .navigationbuttons {
    width: 90%;
    margin-left: 5%;
    margin-top: 25%; } }
@media (min-width: 2560px) {
  .navigationbuttons {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%; } }
form {
  margin-left: 0 !important; }

textarea {
  margin: 0 auto; }

#next_button {
  Height: 80px;
  width: auto;
  color: aliceblue;
  z-index: 1000;
  right: 0;
  float: right !important;
  border: none;
  position: relative;
  opacity: 0.3; }

#next_button:hover {
  cursor: pointer;
  opacity: 0.7; }

#prev_button {
  Height: 80px;
  width: auto;
  color: #fff;
  z-index: 1000;
  float: left !important;
  left: 0;
  border: none;
  opacity: 0.3; }

#prev_button:hover {
  cursor: pointer;
  opacity: 0.7; }

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;

}
@media (min-width:550px){
    .video-container{margin:0.7%;}
}
@media (min-width:800px){
    .video-container{margin:0.5%;}
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#cookie-law {
    position: fixed;
    width: 90%;
    bottom: 20px;
    z-index: 1000;
    background-color: #fff;
    border-color: #f4805a;
    border-style: solid;
    box-shadow: 2px 2px 10px #cecdcc;
    margin-bottom: 0;
    padding: 5px 5px 5px 15px;
    border-radius: 10px;}

@media (min-width:450px){
#cookie-law {
    position: fixed;
    max-width: 80%;
    width: auto;
    bottom: 20px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 2px 2px 10px #cecdcc;
    border-color: #f4805a;
    border-style: solid;
    margin-left:5%;
    margin-bottom: 0;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}
}
@media (min-width:700px){
#cookie-law {
    position: fixed;
    max-width: 80%;
    width: auto;
    bottom: 20px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-color: #f4805a;
    border-style: solid;
    margin-left:8%;
    margin-bottom: 0;
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
}
}
@media (min-width:1426px){
    #cookie-law {margin-left:19%;}
}
/*# sourceMappingURL=portfoliostyle.css.map */
